###  Treasury Investment Growth Receipts (TIGRS) by Merril Lynch 
A story of financial engineering by Merril Lynch when there was:
1) limited supply of Zero Coupon Bonds
2) Difficult to get the coupon payments

In [32]:
import pandas as pd

In [33]:
# Some basic details
face_value = 100
price = 100  # trading at par
coupon_rate = 12.5  # percent
maturity = 30 # years
periodicity = 2
total_par_value = 100_000_000

In [34]:
import util
from interval import Interval

In [35]:
payments = util.get_bond_payments(face_value=100, coupon_rate_pct=coupon_rate, coupon_period=Interval(months=6), maturity=Interval(years=maturity))
schedule = [6 * month for month in range(1, maturity*2+1)]

In [36]:
pd.DataFrame(data={'payments ($ Millions)': payments, 'Schedule': [f'{month} months' for month in schedule]})

    payments ($ Millions)    Schedule
0                    6.25    6 months
1                    6.25   12 months
2                    6.25   18 months
3                    6.25   24 months
4                    6.25   30 months
5                    6.25   36 months
6                    6.25   42 months
7                    6.25   48 months
8                    6.25   54 months
9                    6.25   60 months
10                   6.25   66 months
11                   6.25   72 months
12                   6.25   78 months
13                   6.25   84 months
14                   6.25   90 months
15                   6.25   96 months
16                   6.25  102 months
17                   6.25  108 months
18                   6.25  114 months
19                   6.25  120 months
20                   6.25  126 months
21                   6.25  132 months
22                   6.25  138 months
23                   6.25  144 months
24                   6.25  150 months
25                   6.25  156 months
26                   6.25  162 months
27                   6.25  168 months
28                   6.25  174 months
29                   6.25  180 months
30                   6.25  186 months
31                   6.25  192 months
32                   6.25  198 months
33                   6.25  204 months
34                   6.25  210 months
35                   6.25  216 months
36                   6.25  222 months
37                   6.25  228 months
38                   6.25  234 months
39                   6.25  240 months
40                   6.25  246 months
41                   6.25  252 months
42                   6.25  258 months
43                   6.25  264 months
44                   6.25  270 months
45                   6.25  276 months
46                   6.25  282 months
47                   6.25  288 months
48                   6.25  294 months
49                   6.25  300 months
50                   6.25  306 months
51                   6.25  312 months
52                   6.25  318 months
53                   6.25  324 months
54                   6.25  330 months
55                   6.25  336 months
56                   6.25  342 months
57                   6.25  348 months
58                   6.25  354 months
59                 106.25  360 months

In [37]:
import math

def get_zero_price(fv: float, bey_pct: float, maturity_in_months: int):
    """
    Calculates the zero coupon bond price given Face value, Bond Equivalent Yield and Maturity. Some numerical values are hardcoded for simplicity
    :param fv: Face value of the bond
    :param bey_pct: Bond Equivalent Yield in percentage
    :param maturity_in_months: Number of months for maturity
    :return: current price for the zero coupon bond
    """
    return fv / math.pow((1 + bey_pct / 100 / 2), maturity_in_months / 6)

In [38]:
bond_bey_pct = 10
total_buy_price = [get_zero_price(bond_fv, bond_bey_pct, bond_maturity) for bond_fv, bond_maturity in zip(payments, schedule)]
sum(total_buy_price)

123.6616119063375

In [39]:
total_buy_price

[5.9523809523809526,
 5.668934240362812,
 5.398984990821725,
 5.141890467449262,
 4.897038540427868,
 4.6638462289789215,
 4.441758313313258,
 4.230246012679293,
 4.028805726361232,
 3.836957834629745,
 3.654245556790233,
 3.480233863609745,
 3.3145084415330905,
 3.156674706221991,
 3.006356863068562,
 2.8631970124462502,
 2.726854297567857,
 2.5970040929217686,
 2.473337231354065,
 2.3555592679562527,
 2.2433897790059545,
 2.136561694291385,
 2.0348206612298907,
 1.9379244392665624,
 1.8456423231110117,
 1.7577545934390588,
 1.6740519937514844,
 1.5943352321442708,
 1.5184145068040673,
 1.4461090540991115,
 1.3772467181896302,
 1.3116635411329811,
 1.249203372507601,
 1.1897174976262865,
 1.1330642834536062,
 1.0791088413843868,
 1.0277227060803684,
 0.9787835296003508,
 0.9321747900955721,
 0.8877855143767354,
 0.8455100136921289,
 0.8052476320877417,
 0.7669025067502301,
 0.7303833397621239,
 0.6956031807258323,
 0.6624792197388879,
 0.6309325902275122,
 0.6008881811690592,
 0.5722744582562469,
 0.5450232935773779,
 0.5190698034070266,
 0.4943521937209777,
 0.4708116130675978,
 0.4483920124453312,
 0.4270400118526964,
 0.40670477319304416,
 0.3873378792314706,
 0.3688932183156862,
 0.35132687458636785,
 5.688149398065002]

## Important Sales Outlet
1) Individual Retirement Accounts (IRAs) allowed upto USD 2000 non-taxable investment 
2) Merrill broker would suggest 40 TIGRS priced at $50 to yield 10.239% (semi-annual) - these had face value of USD 1000

## Impact
Given the success TIGRS:
1) Salomon Brothers created CATS (Certificate of Accrual on Treasury Securities)
2) Lehman Brothers created LIONS (Lehman Investment Opportunity Notes) 
3) US Treasury responded with some clever financial engineering of its own - STRIPS program with CUSIP (Committee of Uniform Security Identification Procedure)
    - Coupon interest to be paid on a given date - say, Feb 15, 2018 - has the same CUSIP regardless of which Treasury Bond or Notes it came from!
    - Thereby, enhancing the liquidity of the security